 <!DOCTYPE html>
<html>
<head>
    <title>Athena V4</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
    <script src="{{ url_for('static',filename='scripts/networking.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/ui.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/images.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/text.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/main.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,700&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="sidebar">stuff</div>
    <div class="maincontent">
        <div class="text card swiper-container" id="toptext"></div>
        <div class="text card swiper-container" id="bottomtext">text2<br>subtext</div>
        <div class="image card" id="topimage">
            <div class="image-image">
            </div>
            <div class="image-info">
                <div class="image">
                    icon placeholder        
                </div>
                <div class="text">
                    information
                </div>
            </div>
        </div>
        <div class="image card" id="bottomimage">
            <div class="image-image">
            </div>
        </div>

    </div>        
</body>
</html> 
