/*  weather    */
.text-image{
    height: 100%;
    flex-grow: 1;
    position: relative;
    z-index: 2;
    background: transparent;
}

#iconurl{
    display: flex;
    height: 100%;
    align-items: center;
    background: transparent;
}


#weather-block .text-text {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 4;
    position: relative;
    z-index: 1;
    background: transparent;
}

#weather-block .text-text > .fluff{
    display:none;
}

#weather-block .text-text > #location::before{
    content: "\00a0\00a0"; /*nsbp in utf8, from https://stackoverflow.com/a/11637150*/
}
@media only screen and (min-width: 768px) {
    /*desktop*/
    #weather-block .text-text > .fluff{
        display:inline;
    }
    #weather-block .text-text > #location::before{
        content: "";
    }


}

