*{
    background-color:#212936;
    color: white;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    border-radius:10px;
}
body, html{
    height: 100%;
    width: 100%;
    margin: 0; 
}

.sidebar{
    width: 0px;
    height: 100%;
    position: fixed;
}

#toptext{
    grid-area: toptext;
    margin: 20px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-size: cover;
}

#bottomtext{ 
    grid-area: bottomtext;
    margin: 20px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-size: cover;
}

#topimage{
    grid-area: topimage;
    margin: 20px;
    position: relative;
    transition: 2s;
}

#bottomimage{
    grid-area: bottomimage;
    margin: 20px;
    position: relative;
    transition: 2s;
}

/* mobile */
.maincontent{
    margin-left: 0px;
    height: 100vh;
    background-color:#2B3648;
    display: grid;
    grid-template-areas:
        "toptext"
        "topimage"
        "bottomimage"
        "bottomtext";
    
    width: fit-content;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4, minmax(10%, auto));
}

@media only screen and (min-width: 768px) {
    /* desktop */
    .maincontent{
        margin-left: 0px;
        height: 100vh;
        background-color:#2B3648;
        display: grid;
        grid-template-areas:
            "toptext topimage"
            "bottomimage topimage"
            "bottomimage bottomtext";

        width: fit-content;
        grid-template-columns: repeat(2, minmax(40%, auto));
        grid-template-rows: repeat(2, minmax(10%, auto));
    }
    /* also add-remove margins*/
    #toptext{margin:20px}
    #bottomtext{margin: 0px 20px 20px 0;}
    #topimage{margin: 20px 20px 20px 0;}
    #bottomimage{margin: 0px 20px 20px 20px;}
}

.text{
    font-style: italic;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color:#212936;
    border-radius: 4px;
}

.image-image{
    display:flex;
    justify-content: center;
    align-items:center;
    position: absolute;
}

.image.card{
    position:relative;
}
.image-info{
    background: linear-gradient(0deg, rgba(41,45,52,1) 0%, rgba(41,45,52,0) 100%);
    position: absolute;
    bottom: 0px;
    height: 20%;
    width: 100%;
    display: grid;
    grid-template-areas:
        "info-icon info-text info-text info-text";

    z-index: 1;
    border-radius: 10px;
}

.image-info > .image{
    grid-area: info-icon;
    background-color: unset;
}

.image-info > .text{
    grid-area: info-text;
    background-color: unset;
}

#toptext{
    font-size: large;
}

.text-image > div{
    display: flex;
    align-items: center;
    height: 100%;
}


/* slider */
.single-item > div {
  width: 100%;
  height: 100%;
  display: flex;
  
}

.swiper-pagination {
    background: transparent;
}
img{
    padding:0;
    margin:0;
    border-radius: 10px;
}

span{
    background:inherit;
}


.bold{
    font-weight: bold;
}

/* focussed ui */

.bigcard{
    background-color:#212936;
    border-radius: 4px;
    margin: 20px;
    grid-area: bigcard;
    /*width: 95vw;
    height: 95vh;*/
}

.maincontent.focus{
    display: block;
    width: 100vw;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}


/* animation | transition */

@keyframes go-fs-old{
    from {
        
        grid-template-columns: repeat(2, minmax(40%, auto));
        grid-template-rows: repeat(2, minmax(10%, auto));
    }
    50%{
        grid-template-columns: repeat(2, minmax(100%, auto));
        grid-template-rows: repeat(2, minmax(10%, auto));
    }
    to{
        
        grid-template-columns: repeat(2, minmax(100%, auto));
        grid-template-rows: repeat(2, minmax(100%, auto));  
    }
}

@keyframes new-text-card-with-image{
    from{
        
    }
    to{

    }
}
